@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #020717;
  /* font-family: ; bg-[#020717] blue*/
}

.active-tabs {
  border-bottom: 2px solid #6E97F5;
}

.content {
  display: none;
}

.active-content {
  display: block;
}

.chartGrid {
  stroke: 00FFFFFF;
}


.WeyCharts {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.chart-container {
  flex: 1;
}

.tv-lightweight-charts {
  flex: 1;
  height: 100%;
}

.apexcharts-tooltip span {
  color: #020717;
}
.tooltip.marker.fillColors span {
  color: #020717;
}
.legend.markers.fillColors span {
  color: #020717;
}